<ion-view view-title="동문 명단" hide-back-button="true">
  <ion-content class="padding">

    <div class="row responsive-sm padding remvoeBP">
      <div class="col">
        <div class="list list-inset removePM">

          <div class="list">
            <!-- 선택 메뉴-->
            <label class="item item-input item-select">
                <div class="input-label"> 구분 </div>
                  <select ng-model="data.type">
                    <option value="name"> 이름 </option>
                    <option value="tel"> 전화번호 </option>
                    <option value="class"> 소속 지휘 </option>
                  </select>
              </label>

            <label class="item item-input">
              <input type="search" ng-model="data.keyword" placeholder="검색어" >
            </label>
          </div>
        </div>
        <button class="button button-block button-positive" ng-click="search(data);"> 검색 </button>
      </div>
    </div>
    <a class="item item-avatar" href="#/app/more">
      <img src="/img/Dva.jpg">
      <h2>글 제목</h2>
      <div class="col"> 작성자 </div>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <!--<div class="list">
      <i class="item" ng-repeat="syllabus in syllabuss">
          <div class="row">
            <a class="col" style="FONT-WEIGHT: bold;"> {{syllabus.subject}} </a>
          </div>
          <div class="row">
            <div class="col" style="FONT-WEIGHT: bold;"> {{syllabus.depart}} </div>
          </div>
          <div class="row">
            <div class="col" style="FONT-WEIGHT: bold;"> 구분 </div>
            <div class="col" style="FONT-WEIGHT: bold;"> {{syllabus.type}} </div>
          </div>
          <div class="row">
            <div class="col"> 분반 </div>
            <div class="col"> {{syllabus.class}} </div>
          </div>
          <div class="row">
            <div class="col"> 학년 </div>
            <div class="col"> {{syllabus.grade}} </div>
          </div>
          <div class="row">
            <div class="col"> 교수 </div>
            <div class="col"> {{syllabus.professor}} </div>
          </div>
          <div class="row">
            <div class="col" style="FONT-WEIGHT: bold;"> 계획서 공개 </div>
            <div class="col" style="FONT-WEIGHT: bold;"> {{syllabus.isopened}} </div>
          </div>
          <a class="item item-icon-left" ng-click="syllabus2({{$index}})">
            <i class="icon ion-ios-list"></i> 강의 계획서
      </a>
      </i>
    </div>-->

  </ion-content>
</ion-view>
