<ion-view view-title="마이 페이지" hide-back-button="true">
  <ion-content>
    <!--전체-->
    <div style="text-align:center; width:100%; height:500px;">
      <!--1,2라인-->
      <div class="row" style="width:100%; height:66.6%;">
          <a class="col col-66 button button-outline button-positive" href="#/app/cardinalList"> 동문명단 </a>
        <div class="col col-33" style="margin:0; padding:0;">
          <a class="col button button-outline button-positive" style="height:50%;" href="#/app/notice"> 공지사항 </a>
          <a class="col button button-outline button-positive" style="height:50%;" href="#/app/board"> 자유게시판 </a>
        </div>
      </div>
      <!--3라인-->
      <div class="row" style="width:100%; height:33.3%;">
        <a class="col col-33 button button-outline button-positive" href="#/app/introduce"> 동문회소개 </a>
        <a class="col col-33 button button-outline button-positive" href="#/app/tel"> 교내전화 </a>
        <a class="col col-33 button button-outline button-positive" href="#/app/myPage"> 마이페이지 </a>
      </div>
    </div>
  </ion-content>
</ion-view>
