<ion-view view-title="인문 학습원 소개" class="introbg" hide-back-button="true">
  <ion-content>
    <div style="text-align:center">
      <h2>사업안내</h2>
      <h4>1. 인문공부 연 2회(3월,9월) 실시</h4>
      <p>1) CEO와 함께하는 '인문공부' 입문과정(기업인,전문직 종사자 대상)</p>
      <p>2) CEO와 함께하는 '인문공부' 심화과정(입문과정 졸업생 대상)</p>
      <h4>2. 인문학 특강</h4>
      <p>사회와의 소통과 성찰을 목표로 월 1회 인문공부 동문을 중심으로 진행</p>
      <p>졸업생 대상 하계, 동계 특강</p>
      <h4>3. 기업체 인문학 컨설팅 운영</h4>
    </div>
    <div style="text-align:center">
      <h2>조직안내</h2>
      <h4><사무국></h4>
      <p>원 장 : 김창남</p>
      <div class="row">
        <div class="col">
          <a href="tel:02-2610-4339" class="button button-positive">02-2610-4339</a>
        </div>
      </div>
      <p>부원장 : 임정아</p>
      <div class="row">
        <div class="col col-50">
          <a href="tel:02-2610-4810" class="button button-positive">02-2610-4810</a>
        </div>
        <div class="col col-50">
          <a href="mailto:vision@skhu.ac.kr" class="button button-positive">vision@skhu.ac.kr</a>
        </div>
      </div>
      <p>직 원 : 유수정</p>
      <div class="row">
        <div class="col col-50">
          <a href="tel:02-2610-4317" class="button button-positive">02-2610-4317</a>
        </div>
        <div class="col col-50">
          <a href="mailto:human4317@daum.net" class="button button-positive">human4317@daum.net</a>
        </div>
      </div>
      <h4><담임교수></h4>
      <p>박경태</br>성공회대학교 사회과학부 교수</p>
      <h4><기획위원></h4>
      <p>정윤수</br>한신대학교 정조교양대학 교수</p>
    </div>
    <div style="text-align:center">
      <h2>찾아 오시는 길</h2>
      <div class="item item-image list-inset">
        <img src="img/map.png">
      </div>
    </div
  </ion-content>
</ion-view>
