<ion-view view-title="마이 페이지" hide-back-button="true">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
        <span class="input-label">이름</span></br>
        <span class="input-label">{{myPage.name}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">기수</span></br>
        <span class="input-label">{{myPage.cnumber}}기</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">지위</span></br>
        <span class="input-label">{{myPage.status}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">생년월일</span>
        <input type="text" placeholder="{{myPage.birth}}">
        <input type="date" ng-model="data.date" >
        <ion-checkbox ng-model="data.openBirth" ng-checked="data.openBirth">공개</ion-checkbox>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">전화번호</span>
        <input type="text" ng-model="data.tel" placeholder="{{myPage.phone}}">
        <ion-checkbox ng-model="data.openPhone">공개</ion-checkbox>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" ng-model="data.email" placeholder="{{myPage.email}}">
        <ion-checkbox ng-model="data.openEmail">공개</ion-checkbox>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">주소</span>
        <input type="text" ng-model="data.address" placeholder="{{myPage.address}}">
        <ion-checkbox ng-model="data.openAddress">공개</ion-checkbox>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">소속 직장</span>
        <input type="text" ng-model="data.workPlace" placeholder="{{myPage.jobName}}">
        <ion-checkbox ng-model="data.openJobName">공개</ion-checkbox>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">직장 지위</span>
        <input type="text" ng-model="data.workPosition" placeholder="{{myPage.jobStatus}}">
        <ion-checkbox ng-model="data.openJobStatus">공개</ion-checkbox>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">직장 번호</span>
        <input type="text" ng-model="data.workTel" placeholder="{{myPage.jobPhone}}">
        <ion-checkbox ng-model="data.openJobPhone">공개</ion-checkbox>
      </label>
      <button class="button button-block button-positive" ng-click="update(data);"> 수정 </button>
    </div>
  </ion-content>
</ion-view>
