<ion-view view-title="마이 페이지" hide-back-button="true">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
        <span class="input-label">이름</span></br>
        <span class="input-label">{{myPage.name}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">기수</span></br>
        <span class="input-label">{{myPage.cnumber}}기</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">지위</span></br>
        <span class="input-label">{{myPage.status}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">생년월일</span></br>
        <span class="input-label">{{myPage.birth}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">전화번호</span></br>
        <span class="input-label">{{myPage.phone}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span></br>
        <span class="input-label">{{myPage.email}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">주소</span></br>
        <span class="input-label">{{myPage.address}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">소속 직장</span></br>
        <span class="input-label">{{myPage.jobName}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">직장 지위</span></br>
        <span class="input-label">{{myPage.jobStatus}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">직장 번호</span></br>
        <span class="input-label">{{myPage.jobPhone}}</span>
      </label></br>
      <a class="col col-33 button button-outline button-positive" href="#/app/myPageUpdate"> 수정하기 </a>
    </div>
    
  </ion-content>
</ion-view>
