<ion-view view-title="교내 전화" hide-back-button="true">
  <ion-content>

    <ion-list>
      <ion-item class="item-icon-left" style="border:none" href="#/app/tel1" menu-close><span class="icon ion-android-people"></span> 교무처 </ion-item>
      <ion-item class="item-icon-left" style="border:none" href="#/app/tel2" menu-close><span class="icon ion-android-people"></span> 입학홍보처 </ion-item>
      <ion-item class="item-icon-left" style="border:none" href="#/app/tel3" menu-close><span class="icon ion-android-people"></span> 학생복지처 </ion-item>
      <ion-item class="item-icon-left" style="border:none" href="#/app/tel4" menu-close><span class="icon ion-android-people"></span> 기획처 </ion-item>
      <ion-item class="item-icon-left" style="border:none" href="#/app/tel5" menu-close><span class="icon ion-android-people"></span> 연구,대외협력처 </ion-item>
      <ion-item class="item-icon-left" style="border:none" href="#/app/tel6" menu-close><span class="icon ion-android-people"></span> 총무처 </ion-item>
      <ion-item class="item-icon-left" style="border:none" href="#/app/tel7" menu-close><span class="icon ion-android-people"></span> 역량강화처 </ion-item>
    </ion-list>
    <div class="list">
      <a href="#/app/credits" class="item item-icon-left">
        <i class="icon ion-connection-bars"></i> 현재 이수 학점
      </a>
      <a href="#/app/attendance" class="item item-icon-left">
        <i class="icon ion-android-walk"></i> 나의 수업 출결 현황
      </a>
      <a href="#/app/consulting" class="item item-icon-left">
        <i class="icon ion-clipboard"></i> 나의 상담 이력 조회
      </a>
      <a href="#/app/calendar" class="item item-icon-left">
        <i class="icon ion-calendar"></i> 학사 일정 조회
      </a>
      <a href="#/app/syllabus3" class="item item-icon-left">
        <i class="icon ion-ios-list"></i> 신 강의계획서 조회 (2017년~)
      </a>
      <!--<a href="#/app/food" class="item item-icon-left">
            <i class="icon ion-pizza"></i> 학식 메뉴 조회
          </a>-->
    </div>
  </ion-content>
</ion-view>
