<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">글쓰기</h1>
    <button class="button button-primary" ng-click="modal.hide()">목록</button>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <label class="item item-input">
        <span class="input-label">제목</span>
        <input type="text" ng-model="text.title">
      </label>
      <label class="item item-input">
        <span class="input-label">첨부 파일</span>
        <input type="file" ng-file-select="text.file">
      </label>
      <div class="list list-inset">내용
        <textarea rows="10" cols="40" ng-model="text.body"> </textarea>
      </div>

    </div>
    <button class="button button-block button-positive" ng-click="write(text);"> 작성 </button>
  </ion-content>
</ion-modal-view>
