<ion-view view-title="교내 전화" hide-back-button="true">
  <ion-content>

    <div class="list">
      <a href="#/app/tel1" class="item item-icon-left">
        <i class="icon ion-android-people"></i> 교무처
      </a>
      <a href="#/app/tel2" class="item item-icon-left">
        <i class="icon ion-android-people"></i> 입학홍보처
      </a>
      <a href="#/app/tel3" class="item item-icon-left">
        <i class="icon ion-android-people"></i> 학생복지처
      </a>
      <a href="#/app/tel4" class="item item-icon-left">
        <i class="icon ion-android-people"></i> 기획처
      </a>
      <a href="#/app/tel5" class="item item-icon-left">
        <i class="icon ion-android-people"></i> 연구,대외협력처
      </a>
      <a href="#/app/tel6" class="item item-icon-left">
        <i class="icon ion-android-people"></i> 총무처
      </a>
      <a href="#/app/tel7" class="item item-icon-left">
        <i class="icon ion-android-people"></i> 역량강화처
      </a>
    </div>
    
  </ion-content>
</ion-view>
