<ion-view view-title="교무처" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/tel" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>

    <div class="list">
      <a href="tel:02-2610-4114" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대표전화
        < 02-2610-4114>
      </a>
      <a href="tel:02-2610-4726" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 교무처 총괄
        < 02-2610-4726>
      </a>
      <a href="tel:02-2610-4122" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 실무 총괄
        < 02-2610-4122>
      </a>
      <a href="tel:02-2610-4124" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 교원 인사
        < 02-2610-4124>
      </a>
      <a href="tel:02-2610-4208" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대학원 수업 및 학적
        < 02-2610-4208>
      </a>
      <a href="tel:02-2610-4128" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 학부 수업
        < 02-2610-4128>
      </a>
      <a href="tel:02-2610-4113" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 학적/평교/교직
        < 02-2610-4113>
      </a>
      <a href="tel:02-2610-4332" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 학과지원팀 총괄
        < 02-2610-4332>
      </a>
      <a href="tel:02-2610-4370" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 일반대학원(사회복지학과)
        < 02-2610-4370>
      </a>
      <a href="tel:02-2610-4324" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 일반대학원(신학과)
        < 02-2610-4324>
      </a>
      <a href="tel:02-2610-4369" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 일반대학원(사회학과)
        < 02-2610-4369>
      </a>
      <a href="tel:02-2610-4230" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 신학/영어/일어/중어/경영
        < 02-2610-4230>
      </a>
      <a href="tel:02-2610-4382" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 사복/사과/신방
        < 02-2610-4382>
      </a>
      <a href="tel:02-2610-4270" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 디컨/컴공/소프/정통
        < 02-2610-4270>
      </a>
    </div>

  </ion-content>
</ion-view>
