<ion-view view-title="입학홍보처" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/tel" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>
    
    <div class="list">
      <a href="tel:02-2610-4114" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대표전화 < 02-2610-4114 >
      </a>
      <a href="tel:02-2610-4348" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 입학홍보처 총괄 < 02-2610-4348 >
      </a>
      <a href="tel:02-2610-4127" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 입시 기획 < 02-2610-4127 >
      </a>
      <a href="tel:02-2610-4223" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대학원 입학관리 < 02-2610-4223 >
      </a>
      <a href="tel:02-2610-4123" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 학부 입학관리 < 02-2610-4123 >
      </a>
      <a href="tel:02-2610-4251" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 홍보 < 02-2610-4251 >
      </a>
    </div>

  </ion-content>
</ion-view>
