<ion-view view-title="학생복지처" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/tel" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>

    <div class="list">
      <a href="tel:02-2610-4114" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대표전화 < 02-2610-4114 >
      </a>
      <a href="tel:02-2610-4342" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 학생복지처 총괄 < 02-2610-4342 >
      </a>
      <a href="tel:02-2610-4728" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 국가장학/교외장학/학자금대출 < 02-2610-4728 >
      </a>
      <a href="tel:02-2610-4318" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 학부/대학원 교내장학 < 02-2610-4318 >
      </a>
      <a href="tel:02-2610-4215" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 사회봉사센터 < 02-2610-4215 >
      </a>
      <a href="tel:02-2610-4743" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 예비군대대본부 < 02-2610-4743 >
      </a>
      <a href="tel:02-2610-4315" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 건강증진센터 < 02-2610-4315 >
      </a>
    </div>
    
  </ion-content>
</ion-view>
