<ion-view view-title="기획처" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/tel" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <a href="tel:02-2610-4114" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대표전화 < 02-2610-4114 >
      </a>
      <a href="tel:02-2610-4227" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 기획처 총괄 < 02-2610-4227 >
      </a>
      <a href="tel:02-2610-4143" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 기획/예산 < 02-2610-4143 >
      </a>
      <a href="tel:02-2610-4142" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 규정/통계 < 02-2610-4142 >
      </a>
      <a href="tel:02-2610-4826" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 평가/감사(김규환 팀장) < 02-2610-4826 >
      </a>
      <a href="tel:02-2610-4725" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 평가/감사(조순형 주임) < 02-2610-4725 >
      </a>
      <a href="tel:02-2610-4163" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 평가/감사(박나현 주임) < 02-2610-4163 >
      </a>
    </div>
    
  </ion-content>
</ion-view>
