<ion-view view-title="연구,대외협력처" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/tel" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

    <ion-content>
      <div class="list">
        <a href="tel:02-2610-4114" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 대표전화 < 02-2610-4114 >
        </a>
        <a href="tel:02-2610-4343" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 연구,대외협력처 총괄 < 02-2610-4343 >
        </a>
        <a href="tel:02-2610-4106" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 연구지원팀,대외 협력팀 총괄 < 02-2610-4106 >
        </a>
        <a href="tel:02-2610-4137" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 평생교육/외부사업 < 02-2610-4137 >
        </a>
        <a href="tel:02-2610-4120" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 회계관리 < 02-2610-4120 >
        </a>
        <a href="tel:02-2610-4372" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 연구지원 < 02-2610-4372 >
        </a>
        <a href="tel:02-2610-4340" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 국내외교류담당(윤진규 차장) < 02-2610-4340 >
        </a>
        <a href="tel:02-2610-4802" class="item item-icon-left">
          <i class="icon ion-android-person"></i> 국내외교류담당(한애경 사원) < 02-2610-4802 >
        </a>
      </div>
      
    </ion-content>
</ion-view>
