<ion-view view-title="총무처" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/tel" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <a href="tel:02-2610-4114" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대표전화 < 02-2610-4114 >
      </a>
      <a href="tel:02-2610-4131" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 총무처 총괄 < 02-2610-4131 >
      </a>
      <a href="tel:02-2610-4116" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 총괄/등록,결산 < 02-2610-4116 >
      </a>
      <a href="tel:02-2610-4112" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 수입/지출 < 02-2610-4112 >
      </a>
      <a href="tel:02-2610-4126" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 급여/사회보험/연금 < 02-2610-4126 >
      </a>
      <a href="tel:02-2610-4134" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 총괄/직원인사 교육 < 02-2610-4134 >
      </a>
      <a href="tel:02-2610-4118" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 구매/관재 < 02-2610-4118 >
      </a>
      <a href="tel:02-2610-4352" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 학생 생활관 < 02-2610-4352 >
      </a>
      <a href="tel:02-2610-4262" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 냉난방 기계실 < 02-2610-4262 >
      </a>
      <a href="tel:02-2610-4261" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 전기실/전기통신 < 02-2610-4261 >
      </a>
      <a href="tel:02-2610-4161" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 시설보수/영선 < 02-2610-4161 >
      </a>
    </div>
    
  </ion-content>
</ion-view>
