<ion-view view-title="역량강화처" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/tel" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <a href="tel:02-2610-4114" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 대표전화 < 02-2610-4114 >
      </a>
      <a href="tel:02-2610-4241" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 역량강화지원처 총괄 < 02-2610-4241 >
      </a>
      <a href="tel:02-2610-4824" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 실무 총괄 < 02-2610-4824 >
      </a>
      <a href="tel:02-2610-4801" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 교수학습지원센터 < 02-2610-4801 >
      </a>
      <a href="tel:02-2610-4730" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 사회진출지원실 < 02-2610-4730 >
      </a>
      <a href="tel:02-2610-4744" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 상담실/성폭력 상담실 < 02-2610-4744 >
      </a>
      <a href="tel:02-2610-4823" class="item item-icon-left">
        <i class="icon ion-android-person"></i> 사회진출지원실 < 02-2610-4823 >
      </a>
    </div>
    
  </ion-content>
</ion-view>
