<ion-view view-title="마이 페이지" hide-back-button="true">
  <ion-content>
    <div class="item item-image" style="text-align:left">
      <img src="img/dva.jpg" style="max-width: 100% height: auto">
    <a class="item item-icon-left">
      <i class="icon ion-person-stalker"></i> {{myPage.cnumber}}기 {{myPage.status}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-android-person"></i> {{myPage.name}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-android-call"></i> {{myPage.loginId}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-android-textsms"></i> {{myPage.email}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-home"></i> {{myPage.address}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-ios-world"></i> {{myPage.jobName}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-social-whatsapp"></i> {{myPage.jobPhone}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-ios-personadd"></i> {{myPage.jobStatus}}
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-android-favorite"></i> {{myPage.birth}}
    </a>
  </div>
  <a class="col col-33 button button-outline button-positive" href="#/app/myPageUpdate"> 수정하기 </a>

  </ion-content>
</ion-view>
