<ion-view view-title="마이 페이지" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/myPage" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content class="mainbg">

    <div class="list list-inset">
      <div class="item item-image">
        <img src="http://bghgu.iptime.org:8685/skhu/resources/userImages/{{myPage.photo}}">
      </div>
      <ion-checkbox class="item-checkbox-right" ng-model="data.openPhoto" ng-checked="(myPage.openPhoto)" ng-init="data.openPhoto=myPage.openPhoto"> 프로필 사진 공개 </ion-checkbox>

      <div class="row item">
        <div class="col"> {{myPage.name}} </div>
      </div>
      <div class="row item">
        <div class="col"> {{myPage.cnumber}}기 {{myPage.status}} </div>
      </div>

      <ion-checkbox class="item-checkbox-right" ng-model="data.openBirth" ng-checked="(myPage.openBirth)" ng-init="data.openBirth=myPage.openBirth">
        생년월일 : {{myPage.birth}} &nbsp; &nbsp; &nbsp; &nbsp;공개 </ion-checkbox>

      <div class="row item">
        <div class="col"> 전화번호 </br> {{myPage.phone}} </div>
        <div class="col">
          <ion-checkbox class="item-checkbox-right" ng-model="data.openPhone" ng-checked="(myPage.openPhone)" ng-init="data.openPhone=myPage.openPhone"> 공개 </ion-checkbox>
        </div>
      </div>

      <div class="row item">
        <div class="col"> 이메일 <input type="text" ng-model="data.email" placeholder="{{myPage.email}}" ng-init="data.email=myPage.email"> </div>
        <div class="col">
          <ion-checkbox class="item-checkbox-right" ng-model="data.openEmail" ng-checked="(myPage.openEmail)" ng-init="data.openEmail=myPage.openEmail"> 공개 </ion-checkbox>
        </div>
      </div>

      <div class="row item">
        <div class="col"> 주소 <input type="text" ng-model="data.address" placeholder="{{myPage.address}}" ng-init="data.address=myPage.address"> </div>
        <div class="col">
          <ion-checkbox class="item-checkbox-right" ng-model="data.openAddress" ng-checked="(myPage.openAddress)" ng-init="data.openAddress=myPage.openAddress"> 공개 </ion-checkbox>
        </div>
      </div>

      <div class="row item">
        <div class="col"> 소속 직장 <input type="text" ng-model="data.workPlace" placeholder="{{myPage.jobName}}" ng-init="data.jobName=myPage.jobName"> </div>
        <div class="col">
          <ion-checkbox class="item-checkbox-right" ng-model="data.openJobName" ng-checked="(myPage.openJobName)" ng-init="data.openJobName=myPage.openJobName"> 공개 </ion-checkbox>
        </div>
      </div>

      <div class="row item">
        <div class="col"> 직장 지위 <input type="text" ng-model="data.workPosition" placeholder="{{myPage.jobStatus}}" ng-init="data.jobStatus=myPage.jobStatus"> </div>
        <div class="col">
          <ion-checkbox class="item-checkbox-right" ng-model="data.openJobStatus" ng-checked="(myPage.openJobStatus)" ng-init="data.openJobStatus=myPage.openJobStatus"> 공개 </ion-checkbox>
        </div>
      </div>

      <div class="row item">
        <div class="col"> 직장 번호 <input type="text" ng-model="data.workTel" placeholder="{{myPage.jobPhone}}" ng-init="data.jobPhone=myPage.jobPhone"> </div>
        <div class="col">
          <ion-checkbox class="item-checkbox-right" ng-model="data.openJobPhone" ng-checked="(myPage.openJobPhone)" ng-init="data.openJobPhone=myPage.openJobPhone"> 공개 </ion-checkbox>
        </div>
      </div>

      <button class="button button-block button-positive" ng-click="update(data);" ng-checked="(myPage.openPhone)"> 수정 </button>
    </div>
  </ion-content>
</ion-view>
