<ion-view view-title="자유 게시판" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="writeCall()">
      글쓰기
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-repeat="board in board" ng-click="more({{board.b_id}})">

      <div class="item item-avatar">
        <img src="/img/Dva.jpg">
        <h2> {{board.b_title}} </h2>
        <p> {{board.b_writer}} </p>
        <p> {{board.b_writetime}} </p>
      </div>
      <div class="item item-body">
        <p> {{board.b_content}} </p>
        <p>
          <a class="subdued">조회수 : {{board.count}}</a>
          <a class="subdued">Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
