<ion-view view-title="회원정보" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/cardinalList" nav-clear><i class="icon ion-ios-arrow-left">목록</i></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="/img/Dva.jpg">
        <h2>{{cardinalList2.name}}</h2>{{cardinalList2.cnumber}}기 {{cardinalList2.status}}
        <p>{{cardinalList2.birth}}</p>
        <p>{{cardinalList2.loginId}}</p>
        <p>{{cardinalList2.email}}</p>
        <p>{{cardinalList2.address}}</p>
        <p>{{cardinalList2.jobName}}</p>
      </div>

    </div>
  </ion-content>
</ion-view>

<!--
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">회원정보</h1>
    <button class="button button-primary" ng-click="modal.hide()">목록</button>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="/img/Dva.jpg">
        <h2>{{cardinalList2.name}}</h2>{{cardinalList2.cnumber}}기 {{cardinalList2.status}}
        <p>{{cardinalList2.birth}}</p>
        <p>{{cardinalList2.loginId}}</p>
        <p>{{cardinalList2.email}}</p>
        <p>{{cardinalList2.address}}</p>
        <p>{{cardinalList2.jobName}}</p>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
-->
