<ion-view view-title="회원정보" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/cardinalList" nav-clear><i class="icon ion-ios-arrow-left">목록</i></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="/img/Dva.jpg">
        <h2>{{cardinalList2.name}}</h2>{{cardinalList2.cnumber}}기 {{cardinalList2.status}}
        <p>생일 : {{cardinalList2.birth}}</p>
        <a href="tel:{{cardinalList2.loginId}}" class="button button-outline button-positive">전화번호 : {{cardinalList2.loginId}}</a><br>
        <a href="mailto:{{cardinalList2.email}}" class="button button-outline button-positive">이메일 : {{cardinalList2.email}}</a>
        <p>주소 : {{cardinalList2.address}}</p>
        <p>직장이름 : {{cardinalList2.jobName}}</p>
        <a href="tel:{{cardinalList2.jobPhone}}" class="button button-outline button-positive">직장번호 : {{cardinalList2.jobPhone}}</a>
        <p>직장직위 : {{cardinalList2.jobStatus}}</p>
      </div>

    </div>
  </ion-content>
</ion-view>
