<ion-view view-title="공지사항" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/notice" nav-clear><i class="icon ion-ios-arrow-left">목록</i></a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button" ng-click="update(notice2.n_id)">
      수정/삭제
    </button>
  </ion-nav-buttons>

  <ion-content class="mainbg">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/Dva.jpg">
        <h2>{{notice2.n_writer}}</h2>{{notice2.n_title}}
        <p>{{notice2.n_writetime}}</p>
      </div>

      <div class="item item-body">
        <a>{{notice2.n_content}}</a><br/>
      </div>

      <div class="item item-body">
        <p ng-repeat="comment in comment" ng-click="show(comment.id)">
          <a>{{comment.writername}}</a></br>
          <a>{{comment.writetime}}</a><br/>
          <a class="subdued">{{comment.content}}</a>
        </p>
      </div>

      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="ion-paper-airplane placeholder-icon"></i>
          <input type="search" placeholder="댓글" ng-model="text">
        </label>
        <button class="button button-primary" ng-click="save(text);"> 저장 </button>
      </div>

    </div>
  </ion-content>
</ion-view>
