<ion-view view-title="공지사항" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="writeCall()">
      글쓰기
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list card" ng-repeat="notice in notice"  ng-click="more({{notice.n_id}})" on-hold="update({{notice.n_id}})">
      <div>
        <div class="item item-avatar">
          <img src="/img/Dva.jpg">
          <h2>{{notice.n_title}}</h2>
          <p>{{notice.n_writer}}</p>
          <p>{{notice.n_writetime}}</p>
        </div>
        <div class="item item-body">
          <p>
            {{notice.n_content}}
          </p>
          <p>
            <a class="subdued">{{notice.count}} Comments</a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
