<ion-view view-title="총 동문회 회칙" hide-back-button="true">
  <ion-content>
    <div class="list card" ng-repeat="rule in rule">
      <div>
        <div class="item item-avatar">
          <img src="/img/Dva.jpg">
          <h2>{{rule.title}}</h2>
          <p>{{rule.writeTime}}</p>
        </div>
        <div class="item item-body">
          <p>
            {{rule.content}}
          </p>
          <p>
            <a class="subdued">1 Like</a>
            <a class="subdued">5 Comments</a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
