<ion-view view-title="총 동문회 회칙" hide-back-button="true">
  <ion-content>
    <div class="list list-inset">
    <!--ng-repeat="List in scholarshipList"-->
      <a class="item item-thumbnail-left" ng-repeat="rule in rule">
        <img src="/img/Dva.jpg">
        <div class="row">
          <h2>{{rule.title}}</h2>
        </div>
        <div class="row">
          <div class="col"><p>{{rule.content}}</p></div>
        </div>
        <div class="row">
          <div class="col"><p>{{rule.writeTime}}</p></div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
