<ion-view view-title="인문 학습원 소개" class="introbg" hide-back-button="true">
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
    <div class="tabs">
      <a class="tab-item" href="#/app/introduce1">사업안내</a>
      <a class="tab-item active" href="#/app/introduce2">조직안내</a>
      <a class="tab-item" href="#/app/introduce3">찾아오시는길</a>
    </div>
  </div>
  <ion-content>
    <div style="text-align:left;padding:60px 0 0 10px;" style="font-size:20px;">
      <h2>조직안내</h2></br>
      <h4><사무국></h4>
      <p style="font-size:20px;">원 장 : 김창남 <a href="tel:02-2610-4339"  class="icon ion-android-call" style="font-size:20px; color:gray"></a></p>

      <p style="font-size:20px;">부원장 : 임정아 <a href="tel:02-2610-4810" class="icon ion-android-call" style="font-size:20px; color:gray"></a> <a href="mailto:vision@skhu.ac.kr" class="icon ion-email"style="font-size:20px; color:gray"></a></p>

      <p style="font-size:20px;">직 원 : 유수정 <a href="tel:02-2610-4317" class="icon ion-android-call" style="font-size:20px; color:gray"></a> <a href="mailto:human4317@daum.net" class="icon ion-email"style="font-size:20px; color:gray;"></a></p>
      </br>
      <h4><담임교수></h4>
      <p style="font-size:20px;">박경태</br></br>성공회대학교 사회과학부 교수</p></br>
      <h4><기획위원></h4>
      <p style="font-size:20px;">정윤수</br></br>한신대학교 정조교양대학 교수</p></br>
    </div>
  </ion-content>
</ion-view>
