<ion-view view-title="인문 학습원 소개" class="introbg" hide-back-button="true">
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
    <div class="tabs">
      <a class="tab-item active" href="#/app/introduce1">사업안내</a>
      <a class="tab-item" href="#/app/introduce2">조직안내</a>
      <a class="tab-item" href="#/app/introduce3">찾아오시는길</a>
    </div>
  </div>
  <ion-content>
    <div style="text-align:left;padding:60px 0 0 10px;">
      <h2>사업안내</h2></br>
      <h4>1. 인문공부 연 2회(3월,9월) 실시</h4>
      <p>1) CEO와 함께하는 '인문공부' 입문과정</p>
      <p>(기업인,전문직 종사자 대상)</p>
      <p>2) CEO와 함께하는 '인문공부' 심화과정</p>
      <p>(입문과정 졸업생 대상)</p></br>
      <h4>2. 인문학 특강</h4>
      <p>사회와의 소통과 성찰을 목표로 월 1회 인문공부</p>
      <p>동문을 중심으로 진행 졸업생 대상 하계, 동계 특강</p></br>
      <h4>3. 기업체 인문학 컨설팅 운영</h4>
    </div>
  </ion-content>
</ion-view>
