<ion-view view-title="원장 인사말" hide-back-button="true">
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
    <div class="tabs">
      <a class="tab-item active" href="#/app/greeting1">신영복</a>
      <a class="tab-item" href="#/app/greeting2">김창남</a>
    </div>
  </div>
  <ion-content>
    <tr>
      <td style="width:25%;">
        <div class="col" style="margin-top:50px;"><img src="img/1.jpg"></div>
      </td>
      <td style="width:100%;height:100%;">
        <div>21세기를 가슴 벅찬 기대로 시작한지가 엊그제 같습니다만 벌써 10년의 세월이 흘렀습니다. 역사적 대전환이 일어나지는 않았습니다만 우리는 삶의 많은 영역에서 급격한 변화에 직면하고 있습니다. 크게는 정치구조와 경제적 삶의 다급한 변화가 있었고 일상생활에서도 이른바 '스마트 열풍'이 불어 닥쳤습니다. 이러한 도도한 흐름은 세계적인 현상이기도 합니다.</div>
        <div><br></div>
        <div>그러나 돌이켜보면 우리가 지금 맞이하고 있는 역사적 변화 역시 이제까지 인류가 쌓아온 삶의 지반 위에 몇 개의 벽돌을 올려놓은 정도라고 해야 할 지도 모릅니다. 왜냐하면 그것의 내면을 관통하는 하나의 흐름은 크게 변화하지 않기 때문입니다. 사람과 사람 사이의 관계를 인간적인 것으로 키워내고, 그러한 바탕 위에 신뢰하고 존중하고 소통하는 세상을 향하여 함께 걸어가는 아름다운 동행이 우리의 삶의 본질이기 때문일 것입니다. 그 아름답고
          먼 길에서 나누는 위로와 약속이 우리의 삶을 따뜻이 품어주기 때문일 것입니다.</div>
        <div><br></div>
        <div>그동안 인문학습원의 비좁지만 따사로운 아날로그 교실에서 밤늦도록 공부하고 토론하며 진정한 관계를 모색해온 선후배 모두가 이제 이 디지털 스페이스에서 새롭게 만나게 되었습니다. 아날로그와 디지털이라고 하지만 본질에 있어서는 크게 다르지 않습니다. 인간적 삶을 경작해 가고자 하는 인문학습원의 모든 동학들에게 이 디지털공간은 그 먼 길의 어는 중도막에서 만나는 샘터의 찬물이 되리라 기대합니다. 잠시 목을 축이고 다리쉼을 한 다음 다시 서로
          격려하며 길을 나서는 또 하나의 역동적인 교실이 될 것입니다. 이 새로운 교실을 우리 모두가 정성스럽게 가꾸어서 우리들의 여정을 아름답게 마무리할 수 있도록 많은 분들의 참여를 기대해 마지않습니다.</div>
      </td>
    </tr>
  </ion-content>
</ion-view>
