<ion-view view-title="로그인" class="loginBg" hide-nav-bar="true">
  <!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

    <br><br>
    <h2 class="title light" style="text-align:center;"><img src="img/logo.png" style="max-width:80%"></h2>
    <br><br><br>
    <div class="row responsive-sm padding remvoeBP">
      <div class="col">

        <div class="list list-inset removePM">
          <label class="item item-input"><i class="ion-ios-person placeholder-icon"></i><input type="tel" ng-model="user.username" placeholder="휴대폰번호" > </label>
          <label class="item item-input"><i class="ion-ios-locked placeholder-icon"></i><input type="password" ng-model="user.password" placeholder="비밀번호" > </label>
        </div>

        <div class="loginButton"><button class="button button-block button-energized" ng-click="login(user);" > 로그인 </button> </div>
      </div>
    </div>

</ion-view>
