<ion-view view-title="성공회대학교 총 동문회" class="loginBg" id="tour-view" hide-back-button="false"> 

  <h2 class="title light" style="text-align:center;">성공회대학교 총 동창회</h2>

  <ion-slide-box show-pager="true">

    <ion-slide>
      <a href="#/login" style="text-decoration:none">
        <span class="icon light icon-slide ion-umbrella"></span>
        <h3 class="light" href="#/login"> 함께 맞는 비 </h3>
      </a>
    </ion-slide>

    <ion-slide>
      <a href="#/login" style="text-decoration:none">
        <span class="icon light icon-slide ion-ios-compose" href="#/login"></span>
        <h3 class="light"> 인문 학습원 </h3>
      </a>
    </ion-slide>

    <ion-slide>
      <a href="#/login" style="text-decoration:none">
        <span class="icon light icon-slide ion-university" href="#/login"></span>
        <h3 class="light"> 최고 경영자 과정 </h3>
      </a>
    </ion-slide>

    <ion-slide>
      <a href="#/login" style="text-decoration:none">
        <span class="icon light icon-slide ion-person-stalker" href="#/login"></span>
        <h3 class="light"> 더불어 숲 </h3>
      </a>
    </ion-slide>

  </ion-slide-box>
</ion-view>
